body{
    background-color: #F2F2F2;
}
h1{
    color: #C262AF;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

div h2{
    text-align: center;
}


 .primero{
     float: left;
    padding: 40px;
    background-color: white;
     box-shadow: 3px 0 5px #bca1b6;
     margin-left: 350px;
 }

 .segundo{
     float: left;
     padding: 40px;
     background-color: white;
     box-shadow: 3px 0 5px #bca1b6;
     margin-left: 30px;
     margin-top: 220px;
 }

 .tercero{
     float: right;
     padding: 40px;
     background-color: white;
     box-shadow: 3px 0 5px #bca1b6;
     margin-right: 350px;
     
 }
 .clear{
     clear: both;
 }
 hr{
     margin-left: 350px;
     margin-right: 350px;
     border-color: #C262AF;

 }
 footer{
     text-align: center;
     color: #C262AF;
 }